@import '~antd/dist/antd.css';

.container {
  .title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
  }
  .bookRow {
    .bookDetail {
      text-align: center;
      img {
        border: 1px solid gainsboro;
        border-radius: 4px;
      }
      .bookInfo {
        text-align: left;
        margin-left: 30%;
      }
    }
  }
}